{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Voir les réponses</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Libellé Examen</th>
          
          <th>Questions</th>
          <th>Réponses</th>
          
        </tr>
      </thead>
      {% for t in questions %}
      <tr>

        <td> {{course}}</td>
        <td> {{t.question}}
            <br>
            {% if t.question_pic %} 
              <img src="{{ t.question_pic.url }}" alt="Option Pic" height="75px" width="75px" style="border-radius: 25px;" />
              {% endif %}
        </td>
        <td> {{t.answer}}</td>
        
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}