<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hello, Formateur</h1>
    <p class="lead">Bienvenue à  PrepaIt Quiz</p>
    <hr class="my-4">
    <p>Vous pouvez avoir accès à plus de fonctionnalités après connexion.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="teachersignup" role="button" style="color:black; background-color: #fd7e14;">Créer un compte</a>
      <a class="btn btn-primary btn-lg" href="teacherlogin" role="button" style="background-color: #fd7e14; color: black;">Connexion</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "quiz/footer.html" %}
</body>

</html>
