<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1  style="color: #fd7e14;">Commencer le Quiz</h1>
    <p class="display-4 d-none d-sm-block">Evaluer votre niveau et soyez prêt pour le concours.</p>
    <p class="lead">Nous organisons des Quizs sur les matières de composition.</p>

    

    <p class="lead">Inscrivez-vous si vous n'êtes pas membre et accéder à des milliers de QCMs afin de vous préparer aux concours ESATIC&INP-HB.</p>
    <p><strong> Commencer votre Quiz ici:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;background-color: #fd7e14;" ><i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
