{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">
      .jumbotron {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      </style>
  </head>
  <body class="jumbotron">
    {% include "quiz/navbar.html" %}
    <br><br><br><br><br>
<img src="{% static 'image/logout_img.png' %}"  style=" height:100px; padding-left:0px;">

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "quiz/footer.html" %}

  </body>
</html>
